 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: RedHatDisplay-Regular;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
header {
	background-color: #ffffff;
	height: 110px; 
	position: relative;
}
h1 {
	color: #73A8B0;
	font-size: 40px;
	padding: 25px 50px 25px 50px;
}
#logo-spartan {
	font-family:  LeagueSpartan-Bold;
}
body {
	line-height: 1;
	width:  960px;
	margin: 0 auto 0 auto;
	background-image: url("../img/moroccan-flower.png");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#top-navigation {
	width: 100%;
	background-color: #72A9AE;
	position: absolute;
	bottom:  0px;
	margin: 0px;
	display: block; 
}

.top-button {
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #72A9AE;
  color: black;
  text-decoration: none;
  display: inline-block;  
  text-align: center;
}

#main {
	padding: 25px 50px 25px 50px;
}

#about-text {
	width: 50%;
	float: left;
}

#about-text p {
	margin-bottom: 20px;
}

#about-img {
	float: right;
	width: 240px;
	height:  160px;
	transition: width-height 5s linear 1s;
}
#about-img:hover {
	width: 360px;
	height: 240px; 
}

h2,h3,h4,h5 {
	color: #73A8B0;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0 20px 0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
	color: #73A8B0;
	font-size: 20px;
	background-color: #ffffff;
	padding-top:  10px;
	padding-bottom: 10px;
}

td {
	padding-top:  10px;
	padding-bottom: 10px;
}

.grey-cell {
	background-color: #EFEFEF;
}

#profile {
	margin-top: 25px;
	margin-bottom: 25px;
}

form {
	position: relative;
}

.formlabel {
	width: 40%;
	display: inline-block;
}

input[type="submit"] {
	position: absolute;
	right: 20%;
}

#profile-form {
	float: left;
	width:  50%;
}

#profile-info {
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
	box-shadow: 5px 10px #c1c1c1;
}

#profile-inside {
	float: left;
	width:  50%;
}

.profile-text {
	text-align: center;
	margin-bottom: 10px;
}
.lightblue {
	color: #73A8B0;
}

#icon {
	text-align: center;
	font-size: 90px;
}

#profile-email {
	text-align: center;
	font-size: 40px;
}

footer {
	background-color: #454545;
	color: #ffffff;
	padding: 25px 0 25px 0;
	height: 150px;
	text-transform: uppercase;
}

h6 {
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: bold;
}

#bottom-navigation1 {
	line-height: 25px;
}

.bottom-button {
	color:  #ffffff;
	text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 20px;
  /*text-align: center;*/
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
	background: #D42427;
	color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

#links {
	text-align: center;
	float: left;
	margin: 0;
	width: 33%;
	background-color: inherit;
	height: inherit;
}

#socials {
	text-align: center;
	float: left;
	margin: 0;
	width: 33%;
	background-color: inherit;
	height: inherit;
}

#location {
	text-align: left;
	float: left;
	margin: 0;
	width: 33%;
	background-color: inherit;
	height: inherit;
}

#location p {
	margin-bottom: 10px;
}