@font-face {
  font-family: 'League Spartan';
  src: url(LeagueSpartan-Bold.otf) format('otf');
}
@font-face {
  font-family: 'Red Hat Display Black';
  src: url(RedHatDisplay-Black.otf) format('otf');
}