 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
body {
	width: 960px;
	margin: 0 auto 0 auto;
	background-image: url("../img/pexels-henry-&-co-2341290.jpg");
}
header {
    background-color: #7CC576;
}
footer {
	background-color: #7CC576;
	height: 90px;
}  
#page-header img {
	float: left;
	width: 102px;
	height: 96px;
	padding-top: 10px;
	padding-left: 10px;
}

#page-header h1 {
	float: left;
	width: 50%;
	font-size: 200%;
	font-weight: bold;
	padding-top: 30px;
	padding-left: 45px;
}
.clearall {
	clear: both;
}
.top-button {
	border-radius: 4px;
	background-color: #6DCFF6;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #000000;
	padding: 10px auto 10px auto;
	text-align: center;
	vertical-align: middle;
	font-size: 125%;
	margin: 0 50px 0 50px;
	display: table-column;
}
#top-navigation {
	padding: 20px 0 30px 0;
	display: inline-flex;
	flex-wrap: wrap;
	column-gap: 20px;
	width: 100%;
}
article {
	width: 70%;
	float: left;
	margin: 0;
}
article p {
	margin: 10px 0 10px 0;
}
#sidebar {
	width: 25%;
	float: right;
	margin: 0;
}
#main-content {
	padding: 10px;
}
#copyright {
	width: 40%;
	float: left;
	vertical-align: middle;
	background-color: transparent;
	padding-top: 40px;
	padding-left: 10px;
}
#social-media {
	width: 40%;
	float: right;
	background-color: transparent;
}
#menu-social-media {
	list-style: none;
}
#menu-social-media li {
	display: inline;
	float: right;
}
#menu-social-media img {
	padding-top: 20px;
	padding-right: 10px;
}
h2 {
	font-size: 140%;
	font-weight: bold;
}
h3, h4 {
	font-size: 130%;
	font-weight: bold;
}
figure {
	display: inline-block;
	padding: 0 55px 0 55px;
}